rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function userRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }
    function isAdmin() { return request.auth != null && userRole() == 'Admin'; }
    function isWorker() { return request.auth != null && userRole() == 'Worker'; }
    function isCashier() { return request.auth != null && userRole() == 'Cashier'; }
    function isAuth() { return request.auth != null; }

    match /products/{doc} {
      allow read: if isAuth();
      allow write: if isAdmin() || isWorker();
    }

    match /sales/{doc} {
      allow create: if isAuth();
      allow read: if isAuth();
      allow update: if isAdmin() || isCashier();
      allow delete: if isAdmin();
    }

    match /users/{userId} {
      allow read: if isAuth() && (request.auth.uid == userId || isAdmin());
      allow create: if isAuth() && request.auth.uid == userId;
      allow update: if isAdmin() || request.auth.uid == userId;
      allow delete: if isAdmin();
    }

    match /offers/{doc} {
      allow read: if isAuth();
      allow write: if isAdmin();
    }

    match /alerts/{doc} {
      allow read: if isAuth();
      allow write: if isAuth();
    }

    match /suppliers/{doc} {
      allow read: if isAuth();
      allow write: if isAdmin() || isWorker();
    }

    match /customers/{doc} {
      allow read: if isAuth();
      allow write: if isAdmin();
    }
  }
}
